{include file="SubTemplates/header.tpl"}

{if $s_status == true}
    <div id="categories">
    <h1>{$s_currtitle|escape:'html'}</h1>
    Alkategóriák:
    <ul>
        {foreach from=$s_catarr item=c}
        <li><a href="cat.php?id={$c->getId()}">{$c->getName()|escape:'html'}</a></li>
        {/foreach}
    </ul>
    </div>
    <div>
    Hirdetések:<br />
    {foreach from=$s_curradvarray item=c}
        <div>
        {if $c->getIsDone() == false}
            <span><a href="adv.php?id={$c->getId()}">{$c->getTitle()|escape:'html'}</a></span><br />
            {else if $c->getIsDone() == true}
            <i><span><a href="adv.php?id={$c->getId()}">{$c->getTitle()|escape:'html'}</a></span><br /></i>
            {/if}
        <span>{$c->getDescription()|escape:'html'}</span><br />
        <span>{$c->getPrice()|escape:'html'}</span><br />
        <span><a href="profile.php?uid={$c->getUser_obj()->getId()}">{$c->getUser_obj()->getUsername()|escape:'html'}</a></span><br />
        <br />
        </div>
    {/foreach}

    {else}
    Nincs ilyen kategória!
    {/if}
</div>

{include file="SubTemplates/footer.tpl"}