{include file="SubTemplates/header.tpl"}
<a class="btn btn-primary btn-lg" href="sendmessage.php">Üzenet küldése</a>

<h3><span>Beérkezett üzenetek</span></h3>
{foreach from=$s_inmess item=m}
    <a href="message.php?id={$m.id|escape:'html'}">{$m.uname|escape:'html'} {$m.topic|escape:'html'} {$m.date|escape:'html'}</a>
    <br />
{/foreach} 

<h3>Elküldött üzenetek</h3>
{foreach from=$s_outmess item=m}
    <a href="message.php?id={$m.id|escape:'html'}">{$m.uname|escape:'html'} {$m.topic|escape:'html'} {$m.date|escape:'html'}</a>
    <br />
{/foreach}

{include file="SubTemplates/footer.tpl"}